@import (inline) "../lib/bootstrap/dist/css/bootstrap.css";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


td {
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
