
<table class="table uri-table table-condensed" fixed-table-header>
  <thead>
    <tr>
      <th>Uri</th>
      <th>Status</th>
      <th>Type</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr bindonce ng-repeat="row in project.list._filtered" ng-class="{danger: row.statusCode >= 400, warning: row.statusCode >= 300 && row.statusCode < 400}">
      <td><a bo-href="'#/' + (row.uri | pathEncode)" bo-text="row.uri"></a></td>
      <td bo-text="row.statusCode"></td>
      <td bo-text="row.type"></td>
      <td bo-text="row.size | fileSize:1"></td>
    </tr>
  </tbody>
</table>